.panelReferences{
	margin: auto;
    width: fit-content;
    position: absolute;
    top: 10%;
    left: 37%;
}
.monthsRatePlan{
	width: 25%;
    background-color: #32383e;
    height: 26vh;
    border: 1px solid #cccccc7a;
    float: left;
}
.monthRatePlan{
	margin-left: 38%;
	font-size: 136%;
	font-weight: bold;
	color: white;
}
.labelRatePlanA{
	margin-left: 38%;
	font-weight: bold;
}
.labelRatePlanAE{
	margin-left: 38%;
	font-weight: bold;
}
.labelRatePlanS{
	margin-left: 38%;
	font-weight: bold;
}