.center-text
{
    text-align: center;
}

.table-style
{-
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pointer
{
    cursor: pointer;
}

.data-form
{
    margin-top: 8%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    padding-bottom: 25px;
}

.manager-carrousel
{
    margin-top: 10vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 454px) {
    .manager-carrousel
    {
        margin-top: 30vh;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }
}