#menuTable
{
     margin-left: 25%;
     margin-top: 8%;
     font-size: 30px;
     width: 50%;
     box-shadow: 10px 10px 5px black;
}
th, td
{
         width:150px;

         padding:5px
}

a{
    color:white;
}