<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
<meta charset="UTF-8"/>
<title>Vente presencial cantidad de entradas</title>
</head>
<body class="bg-secondary">
	<div th:replace="layout :: menu"></div>
	<!--Div contenedor de los botones para volver,registrar cliente e ir a la pagina de pago-->
	<div id="panel" class="panel">
    <button onclick="back()" class="btn btn-secondary btn-sm btnBack">Volver</button>
    <button onclick="registerClient()" class="btn btn-secondary btn-sm btnRegisterClient">Registrar cliente</button>
    <button onclick="pay()" class="btn btn-secondary btn-sm btnPay">Pagar</button>
  </div>
  <!--Contenedor de la tabla de categorias-->
  <div id="container_tables" class="container_rate">
  	<!--Tabla de categorias donde se pueden modificar la cantidad de entradas y percibir el total-->
    <table class="table table-sm table-striped table-dark table-bordered table">
      <thead>
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Precio</th>
          <th scope="col" id="center">Menos</th>
          <th scope="col" id="center">Cantidad</th>
          <th scope="col" id="center">Mas</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="category : ${categories}">
          <input th:id="${'input' + category.getRateName()}" th:value="${category.getValue()}"></input>
          <td th:text="${category.getRateName()}"></td>
          <td th:text="${'$' + category.getValue()}"></td>
          <td id="center">
            <button th:onclick="${' minus(''' + category.getRateName() + ''');'}" class="btn btn-secondary">-</button>
          </td>
          <td id="center">
            <label th:id="${category.getRateName()}" text="">0</label>
          </td>
          <td id="center"> 
            <button th:onclick="${'add(''' + category.getRateName() + ''');'}" class="btn btn-secondary">+</button>
          </td>
        </tr>
        <td id="total">TOTAL</td>
        <td id="pesos" colspan="3">0</td>
    </tbody>
  </table>
</div>
<!--Permite ingresar el id del cliente para traer su informacion y guardar el id en la reserva-->
<form id="formClient" class="form" method="post" action="/buscarCliente_traerInfo">
  <label class= "badge badge-dark labelIdClientFirst" for="ClientDNI">DNI cliente</label><br/>
  <input id="inputIdClient" class="form-control form-control-sm col-md-6 inputIdClient" type="text" name="clientDNI" placeholder="DNI cliente" value=""/><br/>
  <input class="btn btn-secondary btn-sm btnSend" type="submit" name="send" value="Ingresar"/><br/>
  <label class= "badge badge-info labelIdClient" th:if="${msj != null}">ID:</label><br/>
  <label class= "labelClient" th:if="${msj != null}" th:text="${clientInfo.getClientNumber()}"></label><br/>
  <label class= "badge badge-info labelIdClient" th:if="${msj != null}">NOMBRE:</label><br/>
  <label class= "labelClient" th:if="${msj != null}" th:text="${clientInfo.getFullName()}"></label><br/>
  <label class= "badge badge-info labelIdClient" th:if="${msj != null}">MAIL:</label><br/>
  <label class= "labelClient" th:if="${msj != null}" th:text="${clientInfo.getEmail()}"></label><br/>
  <label class= "badge badge-info labelIdClient" th:if="${msj != null}">DNI:</label><br/>
  <label class= "labelClient" th:if="${msj != null}" th:text="${clientInfo.getDocumentNumber()}"></label>
</form>
  <!--Formulario para que se registre un cliente-->
  <!--Es modal y contiene un css con animacion-->
  <form id="formRegisterClient" class="formRegisteredClient fadeIn" method="post" action="/registrar_cliente">
    <button id="closeFormBtn" class="buttonClose">x</button>
    <strong>Registrar cliente</strong><br/>
    <label class= "badge badge-dark alignLabel" for="Name">Nombre Completo</label>
      <!--Contenedor del campo Nombre completo y su icono-->
      <div class="input-group-prepend align">
        <div class="input-group-text "><i class="fas fa-user"></i></div>  
        <input id="completeName" class="form-control form-control-sm col-md-6" type="text" name="Name" placeholder="Nombre completo" autofocus=""/>
      </div>
      <label class= "badge badge-dark alignLabel" for="Tel">Telefono</label>
      <!--Contenedor del campo telefono y su icono-->
      <div class="input-group-prepend align">
        <div class="input-group-text"><i class="fas fa-phone"></i></div>  
        <input id="" class="form-control form-control-sm col-md-6" type="number" name="Tel" placeholder="Telefono" autofocus=""/>
      </div>
      <label class= "badge badge-dark alignLabel" for="Email">Email</label>
      <!--Contenedor del campo Email y su icono-->
      <div class="input-group-prepend align">
        <div class="input-group-text"><i class="fas fa-envelope-square"></i></div>  
        <input id="email" class="form-control form-control-sm col-md-6" type="email" name="Email" placeholder="Email" autofocus=""/>
      </div>
      <label class= "badge badge-dark alignLabel" for="Adress">Direccion</label>
      <!--Contenedor del campo direccion y su icono-->
      <div class="input-group-prepend align">
        <div class="input-group-text"><i class="far fa-address-card"></i></div>  
        <input id="" class="form-control form-control-sm col-md-6" type="text" name="Adress" placeholder="Direccion" autofocus=""/>
      </div>
      <label class= "badge badge-dark alignLabel" for="Date">Fecha de nacimiento</label>
      <!--Contenedor del campo fecha de nacimiento y su icono-->
      <div class="input-group-prepend align">
        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>  
        <input id="date" class="form-control form-control-sm col-md-6" type="date" name="Date" placeholder="Fecha de nacimiento" autofocus=""/>
      </div>
      <label class= "badge badge-dark alignLabel" for="DNI">DNI</label>
      <!--Contenedor del dni y su icono-->
      <div class="input-group-prepend align">
        <div class="input-group-text"><i class="fas fa-id-card-alt"></i></div>  
        <input id="dni" class="form-control form-control-sm col-md-6" type="number" name="DNI" placeholder="DNI" autofocus=""/>
      </div>
      <!--Tag del boton submit con atributo id para javaScript y su correspondiente clase para estilo de bootstrap-->
      <input type="submit" id="addClient" class="btn btn-secondary btn-sm btnSubmit" value="Enviar"/>
  </form>
<div th:replace="layout :: footer"></div>
<script th:inline="javascript">
         /*<![CDATA[*/
        var contentList = /*[[${Content}]]*/ 'default';
        var p1=(contentList[0]);
        var p2=(contentList[1]);
        var p3=(contentList[2]);
         /*]]>*/
         if(p3== "1"){
        	 swal({
                 title: p1,
                 text: p2,
                 icon: "warning"
               })
         }
    </script>
</body>
</html>