<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body id="AnalyticsBody">
    <div th:replace="layout :: menu"></div>
    <div th:replace="AdminNavBar :: AdminNav"></div>
    <h1 style="text-align: center;margin-top: 5%;margin-bottom: 3%;font-size: 5vh">Panel de Buissness Analitics </h1>
    <div class="dropdown" style="width:100px;margin:auto;">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seleccionar un año
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/analyticsSpecific?year=2018">2018</a>
            <a class="dropdown-item" href="/analyticsSpecific?year=2019">2019</a>
            <a class="dropdown-item" href="/analyticsSpecific?year=2020">2020</a>
        </div>
    </div>
    <!-- GRAFICOS -->
    <div style="height: 100%;width: 60vw;margin-left:auto;margin-right: auto;margin-bottom: 5%" >
        <h3 style="text-align: center;margin-top: 5%;margin-bottom: 5%;font-size: 3vh">Entradas vendidas de forma presencial</h3>
        <canvas class="" id="myChart" style="height: 65vh;width: 70vw;color:white"></canvas>
        <h3 style="text-align: center;margin-top: 5%;margin-bottom: 5%;font-size: 3vh">Entradas vendidas de forma online</h3>
        <canvas id="myChart2" style="height: 65vh;width: 70vw;color:white"></canvas>
        <h3 style="text-align: center;margin-top: 5%;margin-bottom: 5%;font-size: 3vh">Registro de Actividad </h3>
        <canvas id="myChart3" style="height: 65vh;width: 70vw;color:white"></canvas>
    </div>
    <div th:replace="layout :: footer"></div>
    <script th:inline="javascript">
            document.getElementById("AnalyticsBody").onload= function(){
            listaContenido = [[${YearSales}]];
            LoadGraphics();
        }
    </script>
</body>
</html>