<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="bg-secondary" id="AnalyticsBody">
<div th:replace="layout :: menu"></div>
<div th:replace="AdminNavBar :: AdminNav"></div>
<div style="width: 90vw;margin:auto;margin-top:8%; overflow-y:auto;height: 70vh;">
<table class="table table-bordered table-dark" style="position: relative;top: 0%;">
    <tbody id="CalendarTable">
    <tr th:each="YearSales: ${YearSales}" style="height: 180px ; width:100%">
        <td th:text="${YearSales.getMonth()}"></td>
        <td th:text="${YearSales.getAverageRate()}"></td>
        <td th:text="${YearSales.getExpectedRate()}"></td>
        <td>Tarifa sugerida</td>
    </tr>
    </tbody>
</table>
</div>
<div th:replace="layout :: footer"></div>
</body>
</html>