<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
</head>
    <body style="background-color: black">
        <div th:replace="layout :: menu"></div>
        <div id="ReportContainer" style="margin-left: 20%;margin-right: 20%;background-color: white;padding: 25px;height: 100%">
            <img src="logo.png" style="height: 60px;width: 150px;">
            <h2>Reporte Diario de Empleado</h2>
            <hr>
            <h4>Autor: <span></span></h4>
            <h4>Fecha creacion: <span></span></h4>
            <hr>
            <div id="EmployeeData">
                <h4>Datos del Empleado:</h4>
                <h6><i class="fas fa-caret-right spacing"></i>Nombre: <span></span></h6>
                <h6><i class="fas fa-caret-right spacing"></i>Apellido: <span></span></h6>
                <h6><i class="fas fa-caret-right spacing"></i>Nombre: <span></span></h6>
            </div>
            <hr>
            <div id="EmployeeSales">
                <h4>Informacion de ventas:</h4>
                <h6><i class="fas fa-angle-double-right spacingLow"></i>Total ventas dia: AR$ <span></span></h6>
                <h6><i class="fas fa-angle-double-right spacingLow"></i>Tarifa mas vendida: <span></span></h6>
                <h6><i class="fas fa-angle-double-right spacingLow"></i>Cantidad transacciones realizadas: <span></span></h6>
                <h6><i class="fas fa-angle-double-right spacingLow"></i>Cantidad entradas online retiradas: <span></span></h6>
                <h6><i class="fas fa-angle-double-right spacingLow"></i>Monto descontado por alivios: <span></span></h6>
            </div>
            <hr>

        </div>
        <div th:replace="layout :: footer"></div>
    </body>
</html>