<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta charset="ISO-8859-1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="static/css/style.css"/> <!--css-->   
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
<title>Proyecto Cine</title>
</head>
<body>

	<div th:fragment="menu">
	</div>

	<div th:fragment="footer">
		<div class="container-fluid">
			<footer>
				<script type="text/javascript" src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
				<script type="text/javascript" src="webjars/popper.js/1.14.1/popper.min.js"></script>
				<script type="text/javascript" src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
				<script src="https://unpkg.com/popper.js@1"></script>
                <script src="https://unpkg.com/tippy.js@4"></script>
				<script type="text/javascript" src="static/js/index.js"></script>
				<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			</footer>
		</div>

	</div>
</body>
</html>