<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
<meta charset="UTF-8"/>
<title>Title</title>
</head>
<body class="bg-secondary">
<div th:replace="layout :: menu"></div>
<!--Formulario para envio de campos ID y password del empleado-->
<form id="formPass" class="form-group bg-dark" action="/login_sent" method="post">
      <div id="title" class="input-group">
        <h1>Login</h1>
      </div>
    <!--Div contenedor del label e input ID con clase de bootstrap-->  
    <div class="form-group col-md-9">
    	<label class= "badge badge-dark" for="EmployeeId">ID Empleado</label>  
    	<input id="EmployeeId" class="form-control" type="text" name="EmployeeId" placeholder="Id" autofocus="">
    </div>
    <!--Div contenedor del label e input Password con clase de bootstrap-->
    <div class="form-group col-md-9">
    	<label class= "badge badge-dark" for="EmployeePass">Pass</label>  
    	<input id="EmployeePass" class="form-control" type="password" name="EmployeePass" placeholder="Pass" autofocus="">
    </div>
    <!--Div contenedor del boton submit con clase de bootstrap-->
    <div class="form-group col-md-9">
    	<input type="submit" value="Enviar" class="btn btn-secondary"/>
    </div><br>
</form>
<div th:replace="layout :: footer"></div>
</body>
</html>