<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="bg-secondary">
    <div th:replace="layout :: menu"></div>
    <div th:replace="AdminNavBar :: AdminNav"></div>
    <div style="max-height:65vh;margin-top: 18vh;margin-bottom:auto;overflow-y:auto">
        <table class="table table-dark table-style" style="height:auto">
            <thead class="center-text">
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Nro Cliente</th>
            <th>Editar</th>
            <th>Banear</th>
            </thead>
            <tbody  id="tablaPrincipal">
            <tr th:each="client : ${ClientList}" style="text-align:center" th:class="${client.getClientNumber()}">
                <td style="vertical-align: inherit;" th:text="${client.getFullName()}"></td>
                <td style="vertical-align: inherit;"  th:text="${client.getAddress()}"></td>
                <td style="vertical-align: inherit;"  th:text="${client.getPhoneNumber()}"></td>
                <td style="vertical-align: inherit;"  th:text="${client.getEmail()}" ></td>
                <td style="vertical-align: inherit;"  th:text="${client.getClientNumber()}"></td>
                <td title="Editar Empleado" class="pointer" ><i class="fas fa-user-edit"></i></td>
                <td title="Banear Empleado" class="pointer" onclick="BanClient(this)"><i class="fas fa-user-lock"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="layout :: footer"></div>
</body>
</html>