<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
</head>
<body class="bg-secondary">
    <div th:replace="layout :: menu"></div>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin_main">Administrador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" title="Volver al menu">Menu Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tickets" title="Tickets">Tickets</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reportes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" >Total ventas dia</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Total ventas mes</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administrar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/manage_employees">Empleados</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Clientes</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <table class="table table-dark table-style" >
        <thead class="center-text">
        <th>Nombre Completo</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>ID Empleado</th>
        <th>Categoria</th>
        <th>Editar</th>
        <th>Banear</th>
        <th>Eliminar</th>
        </thead>
        <tbody  id="tablaPrincipal">
        <tr th:each="empleado : ${EmployeeList}" style="text-align:center" th:class="${empleado.getEmployeeNumber()}">
            <td style="vertical-align: inherit;" th:text="${empleado.getFullName()}"></td>
            <td style="vertical-align: inherit;"  th:text="${empleado.getAddress()}"></td>
            <td style="vertical-align: inherit;"  th:text="${empleado.getPhoneNumber()}"></td>
            <td style="vertical-align: inherit;"  th:text="${empleado.getEmail()}" ></td>
            <td style="vertical-align: inherit;"  th:text="${empleado.getEmployeeNumber()}"></td>
            <td style="vertical-align: inherit;"  th:text="${empleado.getRank()}"></td>
            <td title="Editar Empleado" class="pointer" onclick="EditEmployee(this)"><i class="fas fa-user-edit"></i></td>
            <td title="Banear Empleado" class="pointer" onclick="BanEmployee(this)"><i class="fas fa-user-lock"></i></td>
            <td title="Eliminar Empleado" class="pointer" onclick="DeleteEmployee(this)"><i class="fas fa-user-slash"></i></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="layout :: footer"></div>
</body>
</html>