<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/menu.css">

</head>
<body>
	<div th:replace="layout :: menu"></div>
	<h4 id ="title">Menú</h4>
	<table id="menuTable" class="table table-striped table-dark">
		<tbody>
			<tr>
				<th scope="row"><i class="fas fa-arrow-circle-right"></i></th>
				<td>Ventas</td>
			</tr>
			<tr>
				<th scope="row"><i class="fas fa-arrow-circle-right"></i></th>
				<td>Alivios</td>
			</tr>
			<tr>
				<th scope="row"><i class="fas fa-arrow-circle-right"></i></th>
				<td>Clave</td>
			</tr>
			<tr>
				<th scope="row"><i class="fas fa-arrow-circle-right"></i></th>
				<td>Reembolso</td>
			</tr>
			<tr>
				<th scope="row"><i class="fas fa-arrow-circle-right"></i></th>
				<td>Salir</td>
			</tr>
		</tbody>	
	</table>
	<div th:replace="layout :: footer"></div>
</body>
</html>