<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Menu</title>
</head>
<body class="bg-secondary">
	<table id="menuTable" class="table table-striped table-dark">
		<tbody>
			<tr>
				<td>
				<a href="/venta_presencial">Ventas<i class="fas fa-arrow-circle-right"></i></a>
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="/retiroentradas">Retiro online<i class="fas fa-arrow-circle-right"></i></a>
				</td>
			</tr>
			<tr>
				<td>
				<a href="/withdraw">Alivios<i class="fas fa-arrow-circle-right"></i></a>
				</td>
			</tr>
			<tr>
				<td>
				<a href="/cambio_clave">Clave<i class="fas fa-arrow-circle-right"></i></a>
				</td>
			</tr>
			<tr>
				<td><a href="/devolucion">Reembolso<i class="fas fa-arrow-circle-right"></i></a>
				</td>
			</tr>
			<tr th:style="${modelDisplay} ? 'display: table-row' : 'display:none'">
				<td>
				<a href="/admin_main">Panel administrativo<i class="fas fa-arrow-circle-right"></i></a>
				</td>
			</tr>
			<tr>
				<td>
				<a href="/">Salir<i class="fas fa-arrow-circle-right"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>