<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Menu</title>

</head>
<body class="bg-secondary">
<div th:replace="layout :: menu"></div>
<table id="menuTable" class="table table-striped table-dark">
	<tbody>
	<tr>
		<a href="#">

			<td>Ventas <i class="fas fa-arrow-circle-right"></i></td>
		</a>
	</tr>
	<tr>
		<a href="#">
			<td>Alivios <i class="fas fa-arrow-circle-right"></i></td>
		</a>
	</tr>
	<tr>
		<a href="#">
			<td>Clave <i class="fas fa-arrow-circle-right"></i></td>
		</a>
	</tr>
	<tr>
		<a href="#">
			<td>Reembolso <i class="fas fa-arrow-circle-right"></i></td>
		</a>
	</tr>
	<tr th:style="${modelDisplay} ? 'display:block' : 'display:none'">
		<a href="#">
			<td>Panel administrativo <i class="fas fa-arrow-circle-right"></i></td>
		</a>
	</tr>
	<tr>
		<a href="#">
			<td>Salir <i class="fas fa-arrow-circle-right"></i></td>
		</a>
	</tr>
	</tbody>
</table>


</body>
</html>