<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
<meta charset="UTF-8"/>
<title>Seleccion de peliculas presencial</title>
</head>
<body id="body" class="bg-secondary">
<div th:replace="layout :: menu"></div>
	<!--Div que contiene la fecha y los botones correspodientes a pasar de fecha hacia adelante o hacia atras-->
	<div class="days">
		<button onclick="removeDays()" class="btn btn-secondary aOnsite buttonStyle">-</button>
		<label id="datePage" class="labelOnsite" th:text="${date}"></label>
		<span id="idDate" th:class="${date}"></span>
		<button onclick="addDays()" class="btn btn-secondary aOnsite buttonStyle">+</button>
	</div>
	<!--Div contenedor de las tablas-->
	<div class="tableContainer">
		<!--contenedor de tabla de peliculas-->
		<div class="titleMovie bg-dark">
			<strong class="strongOnsite">Peliculas</strong>
		</div>
		<!--contenedor de tabla de funciones-->
		<div class="titleTime bg-dark">
			<strong class="strongOnsite">Funciones</strong>
		</div>
		<div class="tableMovie">
			<table class="table table-striped table-dark">
				<tbody>
					<!--Td que recibe un th que por cada tr se va a generar un td con los valores y texto de las peliculas-->
					<tr th:each="film : ${films}">
						<td id="tdOnsiteOne" th:class="${film.getCode()}" th:inline="text" onclick="saveValue(this)">
						  [[${film.getFilmName()}]]
						  <label class="duration" th:text="${film.getDurationWithString()}"></label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tableTime">
			<table class="table table-striped table-dark">
				<tbody>
					<!--Td que recibe un th que por cada tr se va a generar un td con los valores y texto de las funciones-->
					<tr th:each="show : ${shows}">
						<td id="tdOnsiteTwo" th:class="${show.getCodeShow()}" th:text="${show.toString()}" onclick="saveBooking(this)"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    <div th:replace="layout :: footer"></div>
    <script th:inline="javascript">
         /*<![CDATA[*/
        var contentList = /*[[${Content}]]*/ 'default';
        var p1=(contentList[0]);
        var p2=(contentList[1]);
        var p3=(contentList[2]);
         /*]]>*/
         if(p3== "1"){
        	 swal({
                 title: p1,
                 text: p2,
                 icon: "warning"
               })
               window.open("/venta_presencial","_self");
         }
    </script>
</body>
</html>