<!--HTML vista formulario con los campos respectivos para cambio de clave-->
<!DOCTYPE html>
<!--Mediante Thymeleaf asociamos nuestro archivo layout con los header correspondientes este archivo-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header"></head>
<title>Cine</title>
<body class="bg-secondary">
  <!--Mediante Thymeleaf asociamos nuestro archivo layout con el dns de bootstrap, scripts y css-->
  <div th:replace="layout :: menu"></div>
  <!--Contenedor de todos los tag con division de columnas por cada resolucion standard-->
  <!--Aplicamos estilo en tag ya que en css no pisaba la clase de bootstrap -->
  <div class="container col-lg-9 col-md-3 col-xs-12" style="margin:auto;width:21rem;">
    <!--Titulo de formulario-->
    <h1 style="color: white;">Clave</h1>
    <!--Formulario, cada input correspondiente a su tipo y con su respectiva clase de estilo bootstrap-->
    <form id="formPass" action="/pass_sent" method="post">
      <label class= "badge badge-dark" for="Id">Id</label><br/>
      <!--Contenedor del campo id y su icono-->
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-user"></i></div>  
        <input id="Id" class="form-control" type="text" disabled="" th:value="${currentID}" name="EmployeeId" placeholder="Id" autofocus=""/><br/>
        <input id="Id" class="form-control" type="text" th:value="${currentID}" name="EmployeeId" placeholder="Id" autofocus="" style="visibility:hidden; position:absolute"/>
      </div><br/>
      <label class= "badge badge-dark" for="oldPass">Clave anterior</label><br/>
      <!--Contenedor del campo clave anterior y su icono-->
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-key"></i></div>  
        <input id="oldPass" class="form-control" type="password" name="oldPass" placeholder="Pass" autofocus=""/>
      </div><br/>
      <label class= "badge badge-dark" for="newPass">Nuevo pass</label><br/>
      <!--Contenedor del campo nuevo pass y su icono-->
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>  
        <input id="newPass" class="form-control" type="password" name="newPass" placeholder="Pass" autofocus=""/>
      </div><br/>
      <label class= "badge badge-dark" for="repeatPass">Repetir pass</label><br/>
      <!--Contenedor del campo repetir pass y su icono-->
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>  
        <input id="repeatPass" class="form-control" type="password" name="repeatPass" placeholder="Pass" autofocus=""/>
      </div><br/>
      <!--Tag del boton submit con atributo id para javaScript y su correspondiente clase para estilo de bootstrap-->
      <input type="submit" id="PassSubmit" class="btn btn-dark" value="Aceptar"/>
    </form>  
    </div>    
  <!--Asociamos con Thymeleaf nuestro archivo layout para linkear scripts en el footer-->
  <div th:replace="layout :: footer"></div>
  <script th:inline="javascript">
         /*<![CDATA[*/
        var contentList = /*[[${Content}]]*/ 'default';
        var titleType = (contentList[0]);
        var textContent = (contentList[1]);
      //Variable que va a activar o desactivar el sweet alert, 1 activo, 0 inactivo
        var showAlert = (contentList[2]);
        const onOff = "1";
         /*]]>*/
         if(showAlert == onOff){
        	 swal({
                 title: titleType,
                 text: textContent,
                 icon: "success"
               })
               .then((willDelete) => {
                   setTimeout(function(){ window.open("/menu","_self"); }, 500);
                });
         }
</script>
</body>
</html>