<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
</head>
<body class="bg-secondary">
    <div th:replace="layout :: menu"></div>
    <div id="title" class="input-group">
        <h1 class="h1Title">Reembolso</h1>
    </div>
    <!--Div y tabla contenedora de reservas-->  
    <div id="containerbookings" class="containerbookings">
        <table class="table table-sm table-striped table-dark table-bordered tableRefund">
            <thead>
                <tr>
                    <th scope="col">Nro Reserva</th>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Funcion</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${msj != nul}">
                    <td th:if="${msj != null}" th:text="${booking.getBookingCode()}"></td>
                    <td th:if="${msj != null}" th:text="${movie}"></td>
                    <td th:if="${msj != null}" th:text="${show + ' hs'}"></td>
                    <td th:if="${msj != null}" th:text="${booking.getTheatreNumber()}"></td>
                    <td th:if="${msj != null}" th:text="${booking.getTotalValue()}"></td>
                    <td th:if="${msj != null}" th:text="${booking.getBookingDate()}"></td>
                </tr>
                <tr th:if="${msj2 != nul}" th:each="bookings : ${bookings}">
                    <td th:if="${msj2 != null}" th:text="${bookings.getBookingCode()}"></td>
                    <td th:if="${msj2 != null}" th:text="${bookings.getMovieName()}"></td>
                    <td th:if="${msj2 != null}" th:text="${bookings.getShow()}"></td>
                    <td th:if="${msj2 != null}" th:text="${bookings.getTheatreNumber()}"></td>
                    <td th:if="${msj2 != null}" th:text="${bookings.getTotalValue()}"></td>
                    <td th:if="${msj2 != null}" th:text="${bookings.getBookingDate()}"></td>
                </tr>
            </tbody>
        </table>
    </div><br/>
    <!--Botones para los formularios de reservas-->
    <button id="btnShowUpFormBookings" class="btn btn-dark btn-sm btnShowUpFormBookings stretchRight"><i class="fas fa-list-alt fa-2x"></i></button>
    <button id="btnShowUpFormAllBookings" class="btn btn-dark btn-sm btnShowUpFormAllBookings stretchRight"><i class="fas fa-id-card fa-2x"></i></button>
    <!--Formulario que recibe el codigo de reserva para muestra de una reserva en particular-->
    <form id="formBookings" class="formBookings stretchRight" action="mostrar_idreserva" method="post">
        <button id="closeFormBookings" class="buttonClose">x</button>
        <label class= "badge badge-dark labelBooking" for="reservationCode">Codigo de reserva</label>  
        <input id="reservationCode" class="form-control form-control-sm" type="text" name="reservationCode" placeholder="Codigo" autofocus=""/>
        <input type="submit" value="Buscar" class="btn btn-secondary btn-sm btnFormBookings"/>
    </form>
    <!--Formulario que muestra todaslas reservas de un cliente-->
    <form id="formAllBookings" class="formAllBookings stretchRight" action="mostrar_reservas" method="post">
        <button id="closeFormAllBookings" class="buttonCloseFormAllBookings">x</button>
        <label class= "badge badge-dark labelAllBooking" for="idClientCode">Codigo de cliente</label>  
        <input id="idClientCode" class="form-control form-control-sm" type="text" name="idClientCode" placeholder="Codigo" autofocus=""/>
        <input type="submit" value="Buscar" class="btn btn-secondary btn-sm btnFormAllBookings"/>
    </form>
    <!--Botones para mostrar formularios de reembolso y consulta de cliente-->
    <button id="showUpForm" class="btn btn-dark btn-sm btnRefund" onclick="showUp()"><i class="fas fa-lock fa-2x"></i></button>
    <button id="btnConsultClient" class="btn btn-dark btn-sm btnConsultClient"><i class="fas fa-user fa-2x"></i></button>
    <!--Formulario de reembolso con credenciales de supervisor-->
    <form id="formPass" class="formAdmin fadeIn" action="reembolsar" method="post">
        <button id="closeFormx" class="buttonCloseFormPass">x</button>
        <label class= "badge badge-dark labelAdmin" for="adminId">ID supervisor</label><br/>
        <input id="adminId" class="form-control form-control-sm inputAdmin" type="text" name="adminId" placeholder="Id" autofocus=""/>
        <label class= "badge badge-dark labelAdminTwo" for="passAdmin">Pass</label><br/>  
        <input id="passAdmin" class="form-control form-control-sm inputAdmin" type="password" name="passAdmin" placeholder="Pass" autofocus=""/>
        <input id="bookingIdSent" class="bookingIdSent" type="text" name="bookingIdSent" th:if="${msj != null}" th:value="${booking.getBookingCode()}"/>
        <input type="submit" value="Reembolsar" class="btn btn-secondary btn-sm btnRe"/>
    </form>
    <!--Formulario para consultar informacion del cliente-->
    <form id="formClientModal" class="formClientModal fadeIn" method="post" action="/buscarCliente">
        <button id="btnCloseFormModal" class="btnCloseFormModal">x</button>
        <label class= "badge badge-dark labelIdClientFirstModal" for="ClientDNI">DNI cliente</label><br/>
        <input id="inputIdClientModal" class="form-control form-control-sm col-md-6 inputIdClientModal" type="text" name="clientDNI" placeholder="DNI cliente" value=""/><br/>
        <input class="btn btn-secondary btn-sm btnSendModal" type="submit" name="send" value="Ingresar"/><br/>
        <label class= "badge badge-info labelIdClientModal" th:if="${msjClient != null}">ID:</label><br/>
        <label class= "labelClient location standardLabel" th:if="${msjClient != null}" th:text="${clientInfo.getClientNumber()}"></label><br/>
        <label class= "badge badge-info labelIdClientModal" th:if="${msjClient != null}">NOMBRE:</label><br/>
        <label class= "labelClient location standardLabel" th:if="${msjClient != null}" th:text="${clientInfo.getFullName()}"></label><br/>
        <label class= "badge badge-info labelIdClientModal" th:if="${msjClient != null}">MAIL:</label><br/>
        <label class= "labelClient location standardLabel" th:if="${msjClient != null}" th:text="${clientInfo.getEmail()}"></label><br/>
        <label class= "badge badge-info labelIdClientModal" th:if="${msjClient != null}">DNI:</label><br/>
        <label class= "labelClient location standardLabel" th:if="${msjClient != null}" th:text="${clientInfo.getDocumentNumber()}"></label>
    </form>    
    <div th:replace="layout :: footer"></div>
    <script th:inline="javascript">
         /*<![CDATA[*/
        var contentList = /*[[${Content}]]*/ 'default';
        var titleTextOrForm=(contentList[0]);
        var textContent=(contentList[1]);
        //Variable que activa el sweet alert si es 1
        var showAlert=(contentList[2]);
        //Constante para activar el form de cliente o activar sweet alert
        const onOff = "1";
         /*]]>*/
         //Activa el sweet alert para mensajes de alerta o error
         if(showAlert== onOff){
        	 swal({
                 title: titleTextOrForm,
                 text: textContent,
                 icon: "warning"
               })
         }
         // Activa el formulario de cliente cuando trae informacion, 
         // para que aparezca con la informacion con el form abierto y no quede cerrado
         if(titleTextOrForm == onOff){
        	 activeFormClient()	
         }
    </script>
</body>
</html>
