<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
    <title>Retiro de entradas</title>
</head>
<body class="bg-secondary">
    <div th:replace="layout :: menu"></div>
    <div class="center" style="margin-top: 7%;">
        <h4 style="margin: auto; text-align: center; font-size: 50px">Retiro de entradas</h4>
    </div>
    <div class="center">
        <span class="badge badge-dark">Código de reserva</span>
    </div>
    <div class="center" style="width: 50%;" class="input-group mb-3">

    <input type="number" class="form-control" placeholder="Código">
    </div>
    <div>
<   div th:replace="layout :: footer"></div>
</bo
    dy>
</html>