<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../static/css/Tickets.css"  type="text/css" />
</head>
<body class="bg-secondary">
    <div th:replace="layout :: menu"></div>
    <div th:replace="AdminNavBar :: AdminNav"></div>
    <div id="cardsContainer" class="cardContainer" style="margin-left:auto;margin-right:auto;margin-top:7%;width:80%;height:70vh;overflow-y: auto;">
        <div  th:each="ticket : ${Tickets}" class="card text-white bg-dark mb-3" style="width:100%;">
            <!-- CARD FORMAT -->
            <div class="card-header" style="font-size:30px">
                <label th:text="${ticket.getTicketTitle()}"></label>
                <a href="#" class="btn btn-secondary" th:name="${ticket.getTicketID()}" onclick="CloseTicket(this)" style="float:right">Cerrar Ticket</a>
                <div  style="width:100%">
                    <h6 class="card-title" th:text="${ticket.getTicketStatus()}"></h6>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title" th:text="${ticket.getTicketAuthor()}"></h6><h6 class="card-title" th:text="${ticket.getTicketDate()}" style="float:right"></h6>
                <p class="card-text" th:text="${ticket.getTicketContent()}"></p>
            </div>
        </div>
    </div>
    <div th:replace="layout :: footer"></div>
</body>
</html>