<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="bg-secondary">
    <div th:replace="layout :: menu"></div>
    <div id="TicketForm">
        <form method="post" action="/create_ticket">
            <div class="form-group">
                <label >Titulo del Ticket</label>
                <input type="text" required="required" name="TicketTitle" class="form-control" id="titleticket"  placeholder="Ingrese el Titulo del ticket"/>
            </div>
            <div class="form-group">
                <label >Autor del Ticket</label>
                <input type="text" required="required" name="TicketAuthor" class="form-control" id="ticketauthor"  placeholder="Ingrese el Autor del ticket"/>
            </div>
            <div class="form-group">
                <label >Mensaje del Ticket</label>
                <input type="text" required="required" name="TicketContent" class="form-control" id="ticketmessage"  placeholder="Ingrese el Mensaje del ticket"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>

        </form>
    </div>
    <div th:replace="layout :: footer"></div>-
</body>
</html>